body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.Link {
  text-decoration: none;
  color: white;
}

.Link:hover {
  text-decoration: none;
  color: gray;
}

.spinner {
  margin: auto;
  align-self: center;
}

footer {
  color: #adb5bd;
  background-color: #e9ecef;
  text-align: center;
  margin-top: auto;
  padding: 8px;
}